<%= render 'info' %>
<h2>Posts</h2>
<% @user.posts.each do |post| %>
  <div class="thumbnail">
    <%= image_tag post.image.url if post.image? %>
    <div class="caption">
      <h3><%= link_to post.title, post_path(post) %></h3>
      <p><%= post.body %></p>
      <%= render 'posts/tag_list', tag_list: post.interest_list %>
      <% if post.favorited_by? current_user %>
        <%= link_to "いいね解除", post_favorites_path(post), method: :delete %>
      <% else %>
        <%= link_to "いいね", post_favorites_path(post), method: :post %>
      <% end %>
    </div>
  </div>
<% end %>
