<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= paginate @posts %>
    <% @posts.each do |post| %>
      <div class="thumbnail">
        <%= image_tag post.image.url if post.image? %>
        <div class="caption">
          <%= render 'posts/tag_list', tag_list: post.interest_list %>
          <h3><%= link_to post.title, post_path(post) %></h3>
          <p><%= post.body %></p>
          <%= post.user.email %>
          <% if post.favorited_by? current_user %>
            <%= link_to "いいね解除", post_favorites_path(post), method: :delete %>
          <% else %>
            <%= link_to "いいね", post_favorites_path(post), method: :post %>
          <% end %>
        </div>
      </div>
    <% end %>
    <%= paginate @posts %>
  </div>
</div>
